nav{
    width: 100%;
    position: fixed !important;
    z-index: 2;
}
.navbar-nav{
    /* float: right; */
    /* border: 2px solid green; */
    /* position: relative; */
    /* margin-right: 400px !important; */
}



.landing-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landing-page p{
    opacity: 0;
    text-align: center;
    padding: 0% 10%;

    animation-name: landing_text;
    animation-duration: 1.5s;  
    animation-delay: .5s;
    animation-fill-mode: forwards;

}
.landing-page img{
    display: flex;
    justify-content: center;
    height: 30vh;
    border-radius: 30px;
    animation-name: landing_text;
    animation-duration: 1.5s;
    position: relative;
}

@keyframes landing_ani {

    0%{
        /* position: relative; */
        opacity: 0;
        right: -200px;
    }

    100%{
        opacity: 1;
        right: 0px;
    }
    
}

@keyframes landing_text {

    0%{
        opacity: 0;
        transform: scale(0.2);
    }

    

    100%{
        opacity: 1;
        transform: scale(1);
    }
    
}

.team-header{
    background-color: rgba(250, 235, 215, 0.248);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;


}

 .line{
    width: 6vw;
    border: 2px solid black;
    border-radius: 20%;
    margin-top: .5rem;
}
.team{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    padding: 4rem;

    background-color: rgba(250, 235, 215, 0.248);
    
    
}

.team-card{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 4rem;
    
}
.team-img{
    border: 2px solid black;
    min-height: 20vh;
    min-width: 20vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    margin-bottom: 1rem;

}

.contact{
    padding-top: 20px;
}
.contact .row{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact .way{
    box-shadow: 0px 0px  13px #00f0f7;   
    
}



.footer{
    /* height: 20vh; */
    background-color: #2A3245;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

