@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@700&display=swap');

.demo img {
	position:absolute;
	width:100%;
  height: 100%;
	filter: brightness(1.3);
}


body {
	font-family: 'Barlow Semi Condensed', sans-serif;
	color:#333;
  	margin:0;
	background:#efefef;
}




.flexContainer {
	display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.demoWrapper {
 	width:100%;
	height:100vh;
	display:flex;
	justify-content:center;
}


.demo {
	position:relative;
	overflow:hidden;
	width:100vw;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e2155', endColorstr='#040313',GradientType=1 );

}